* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.my-header {
  background-color: black;
  color: white;
  padding: 15px;
  padding-left: 40px;

  h1 {
    font-weight: 500;
  }
}

.my-icon {
  margin-right: 20px;
  margin-bottom: 8px;
  vertical-align: middle;
}

.my-infologokube {
  margin-right: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
  fill: rebeccapurple;
}

.my-infologoocp {
  margin-right: 0px;
  margin-bottom: 0px;
  vertical-align: middle;
  fill: red;
}

.my-infologohidden {
  display: none;
}

.my-infopane {
  padding-left: 30px;
  padding-right: 30px;
}

.my-demo-buttons {
  margin-top: 10px;
  margin-bottom: 10px;
}

.my-demo-buttonone {
  margin-right: 10px;
}
